<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="Current" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <BeatSaberDir>E:\Steam\steamapps\common\Beat Saber</BeatSaberDir>
    <ProjectView>ProjectFiles</ProjectView>
    <ReferencePath>E:\Steam\steamapps\common\Beat Saber</ReferencePath>
    <BSMTProjectType>BSIPA</BSMTProjectType>
  </PropertyGroup>
</Project>